<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>EventBay</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/f6ea8c7853.js" crossorigin="anonymous"></script>
</head>
