<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>EventBay</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/f6ea8c7853.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div class="header">
      <div>
        <h1 id="logo">Event<span id="lg">Bay</span></h1>
      </div>
      <div>
        <nav>
          <ul>
            <li><a href="/login">Add Event</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup" id="btn">Sign Up</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <section>
    <div id="hero-section">
      <div id="left-section">
        <h1 id="leading-text">Discover</h1>
        <span id="small-text">Your Amazing City</span>
        <div class="search-section">
          <form action="" class="form-row">
            <div>
              <input type="text" name="search" placeholder="All Categories" autocomplete="off">
            </div>
          </form>
        </div>
        <div class="browse">
          <span>or browse by highlights</span>
          <div class="browse-icons">
            <i class="fas fa-utensils"></i>
            <i class="fas fa-music"></i>
            <i class="fas fa-running"></i>
            <i class="fas fa-laptop-code"></i>
            <i class="fas fa-palette"></i>
            <i class="fas fa-book-open"></i>
          </div>
        </div>
      </div>
      <div id="right-section">
        <!-- <img src="download.jpeg" alt="" width="100%" height=""> -->
      </div>
    </div>
  </section>

  <section class="container">
    <div class="featured">
      <h2>Featured Events</h2>
      <hr>
    </div>
  </section>

  <script src="https://unpkg.com/typewriter-effect@2.3.1/dist/core.js"></script>
  <script src="scripts/index.js" charset="utf-8"></script>
</body>

</html>
